/*FONT************/
@font-face {
  font-family: turret_road;
  src: url(fonts/Turret_Road/TurretRoad-Bold.ttf);
}
/*****************/
body{
  display: flex;
  justify-content: center;
  background: blue;
}
h1{
  font-family: turret_road;
}
#container{
  position: relative;
  top: 100px;
  width: 500px;
}
#hero-image {
Display:flex;
Justify-content: center;}
#hero-image img{
Width: 250px;
Height: 250px;
}

#content-box{
  background: #FFF;
  padding: 15px;
  margin-bottom: 15px;
}
ul{
position: relative;
margin-bottom: -2px;
list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: left;
}
a{
  text-decoration: none;
  background: #FFF;
  padding: 15px;
}
a:hover{
  background: yellow;
}
