/*FONT************/
@font-face {
  font-family: oliver blush free;
  src: url("C:/Users/theus/OneDrive - Columbia College Chicago/Desktop/Nooooooooor Dumb Stuff/Downloads/Windows 10 Pro v.1511 En-us x64 July2016 Pre-Activated-=TEAM OS=-/efi/microsoft/boot/fonts/Oliver Blush Free.ttf");
}
/*****************/
body{
  display: flex;
  justify-content: center;
  background: blue;
}
#container{
  position: relative;
  top: 100px;
  width: 500px;
}
#hero-image {
Display:flex;
Justify-content: center;}
#hero-image img{
Width: 250px;
Height: 250px;
}

#content-box{
  background: #FFF;
  padding: 15px;
  margin-bottom: 15px;
}
ul{
position: relative;
margin-bottom: -2px;
list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: left;
}
a{
  text-decoration: none;
  background: #FFF;
  padding: 15px;
}
a:hover{
  background: yellow;
}
