/*FONT************/
@font-face {
  font-family: turret_road;
  src: url(fonts/Turret_Road/TurretRoad-Bold.ttf);
}
@font-face {
  font-family: itim-regular;
  src: url(fonts/Itim-Regular.ttf);
}
@font-face {
  font-family: angeliny-regular;
  src: url(fonts/Angeliny_Regular.ttf);
}
/*****************/
body{
  display: flex;
  justify-content: center;
  background: blue;
}
h1{
  font-family: itim-regular;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
}
div{
  font-family: turret_road;
}
h2{
  font-family: angeliny-regular;
}
#title{
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
}
#container{
  position: relative;
  top: 100px;
  width: 500px;
}
#hero-image {
Display:flex;
Justify-content: center;}
#hero-image img{
Width: 50px;
Height: 50px;
}

#content-box{
  background: #FFF;
  padding: 15px;
  margin-bottom: 15px;
}
ul{
position: relative;
margin-bottom: 40px;
list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: center;
}
li{
  margin: 10px;
}
a{
  text-decoration: none;

  padding: 10px;
}
a:hover{
  background: grey;
}
