/*FONT************/
@font-face {
  font-family: turret_road;
  src: url(fonts/Turret_Road/TurretRoad-Bold.ttf);
}
@font-face {
  font-family: itim-regular;
  src: url(fonts/Itim-Regular.ttf);
}
@font-face {
  font-family: angeliny-regular;
  src: url(fonts/Angeliny_Regular.ttf);
}
/*****************/
body{
  display: flex;
  justify-content: center;
  background: repeating-linear-gradient(
  45deg,
  #84ae51,
  #84ae51 10px,
  #5a92a5 10px,
  #5a92a5 20px
);}
h1{
  font-family: itim-regular;
  padding: 15px;
  margin-bottom: 15px;
  justify-content: center;
}
div{
  font-family: turret_road;
}
h2{
  font-family: angeliny-regular;
}
#title{
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
}
#container{
  position: relative;
  top: 100px;
  width: 500px;
}
#hero-image {
Display:flex;
Justify-content: center;}
#hero-image img{
Width: -50px;
Height: -50px;
}

#content-box{
  background: #FFF;
  padding: 15px;
  margin-bottom: 15px;
}
ul{
position: relative;
margin: 40px;
list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: center;
}
li{
  margin: 10px;
}
a{
  text-decoration: none;
Background: #50aeaf;
  padding: 15px;
  color: #84ae51;
}
a:hover{
  background: #ae3fc0;
  color: pink;
}
